.addFormDiv {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.formLayout {
	padding: 10px;
}
    
.formLayout label, .formLayout input {
	display: block;
	float: left;
	margin-bottom: 10px;
}
 
.formLayout label {
	width: 100px;
	text-align: right;
	padding-right: 20px;
 }
 
 .formLayout br {
	clear: left;
 }
 
 em {
	color: red;
}