*{
	font-size: 16px;
}

body {
	background: url('../images/body_bg.png');
	background-size: 100% 100%;
}

.content {
	width: 1150px;
	background: url('../images/bg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.logo {
	width: 100%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background: url('../images/banner.png');
	background-size: auto;
}

.indexTable {
	width: 550px;
	border: 1px solid black;
	background-color: white;
}

.indexTable th, td{
	padding: 5px;
}

.searchInput {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.searchResults {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-right: auto;
	margin-left: auto;
}

.clearSearchDiv {
	width: 110px;
	margin-bottom: 3em;
	margin-right: auto;
	margin-left: auto;
}



.titleDiv {
	width: 100%;
}

.titleDiv p {
	font-family: sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.blockStyle {
	display: block;
}

.inlineBlock {
	display: inline-block;
}

.centeredBlock {
	margin-left: auto;
	margin-right: auto;
}

.bottomPadding {
	margin-bottom: 1.5em;
}

.loginDiv {
	width: 400px;
	height: 200px;
	margin-top: 4em;
	border: 1px solid black;
	background-color: #6C5035
}

