.logo {
	width: 100%;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
}

.searchInput {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.searchResults {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-right: auto;
	margin-left: auto;
}

.clearSearchDiv {
	width: 110px;
	margin-bottom: 3em;
	margin-right: auto;
	margin-left: auto;
}

.content {
	width: 80%;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

.titleDiv {
	width: 100%;
}

.titleDiv p {
	font-family: sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.blockStyle {
	display: block;
}

.inlineBlock {
	display: inline-block;
}

.centeredBlock {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

