.searchInput {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.searchResults {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-right: auto;
	margin-left: auto;
}

.clearSearchDiv {
	width: 110px;
	margin-bottom: 3em;
	margin-right: auto;
	margin-left: auto;
}